@using ECommercial.Entities.Concrete
@using ECommercial.Entities.Dtos
@model Tuple<Product, List<Category>, List<ProductWithImageDto>, Comment>
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Areas/ECommercial/Views/Shared/_ECommercialLayout.cshtml";
}
<!-- Product Detail Start -->
<div class="product-detail">
    @Html.HiddenFor(x => x.Item1.Id)
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    @using (Html.BeginForm("AddCart", "Carts", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.Item1.Id)
                        @Html.HiddenFor(x=>x.Item1.DiscountedPrice)
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="product-slider-single normal-slider">
                                    @foreach (var product in Model.Item1.ProductImages)
                                    {
                                        <img src="~/Uploads/@product.Image" alt="Product Image">

                                    }
                                </div>
                                <div class="product-slider-single-nav normal-slider">
                                    @foreach (var product in Model.Item1.ProductImages)
                                    {
                                        <div class="slider-nav-img"><img src="~/Uploads/@product.Image" alt="Product Image"></div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="product-content">
                                    <div class="title"><h2>@Model.Item1.Name</h2></div>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="price">
                                        <h4>Fiyat:</h4>
                                        @if (Model.Item1.DiscountedPrice != 0)
                                        {
                                            <p>@Model.Item1.DiscountedPrice₺ <span>@Model.Item1.UnitPrice</span></p>
                                        }
                                        else
                                        {
                                            <p>@Model.Item1.UnitPrice</p>
                                        }
                                    </div>
                                    <div class="quantity">
                                        <h4>Adet:</h4>
                                        <div class="qty">
                                            <button type="button" class="btn-minus"><i class="fa fa-minus"></i></button>
                                            @Html.TextBoxFor(x => x.Item1.OrderQuantity, new { @Value="0"})
                                            <button type="button" class="btn-plus"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>

                                    <div class="action">
                                        <button type="submit" class="btn"><i class="fa fa-shopping-cart"></i>Sepete Ekle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description">Açıklama</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#specification">Özellikler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#reviews">Yorumlar <span>(@ViewBag.CommentCount)</span></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="container tab-pane active">
                                <h4>Ürün Açıklaması</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque. Suspendisse sit amet neque neque. Praesent suscipit et magna eu iaculis. Donec arcu libero, commodo ac est a, malesuada finibus dolor. Aenean in ex eu velit semper fermentum. In leo dui, aliquet sit amet eleifend sit amet, varius in turpis. Maecenas fermentum ut ligula at consectetur. Nullam et tortor leo.
                                </p>
                            </div>
                            <div id="specification" class="container tab-pane fade">
                                <h4>Ürün Özellikleri</h4>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                </ul>
                            </div>
                            <div id="reviews" class="container tab-pane fade">
                                <div class="reviews-submitted">

                                    @Html.Action("ListOfComments", "Products")

                                </div>


                                @using (Html.BeginForm("AddComment", "Products", FormMethod.Post))
                                {
                                    @Html.HiddenFor(x => x.Item1.Id)
                                    <div class="reviews-submit">
                                        <h4>Ürün Hakkında Yorum Yaz :</h4>
                                        <div class="ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="row form">
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(x => x.Item4.User.FirstName, new { @placeholder = "İsim" })
                                            </div>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(x => x.Item4.User.Email, new { @placeholder = "E-mail" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextAreaFor(x => x.Item4.Content, new { @placeholder = "Yorumunuz.." })
                                            </div>
                                            <div class="col-sm-12">
                                                <button type="submit">Yorum Yap</button>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <div class="sidebar-widget brands">
                        <h2 class="title">Kategoriler</h2>
                        <ul>
                            <li><a href="/ECommercial/Products/Index">Tüm Kategoriler</a></li>
                            @foreach (var category in Model.Item2)
                            {
                                <li><a href="/ECommercial/Products/GetProductsWithCategoryId/@category.CategoryId">@category.CategoryName</a><span>(45)</span></li>

                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg 12">
            <div class="product">
                <div class="section-header">
                    <h1>Benzer Ürünler </h1>
                </div>
                <div class="row align-items-center product-slider product-slider-3">
                    @foreach (var products in Model.Item3)
                    {
                        <div class="col-lg-3">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">@products.Name</a>
                                 
                                </div>
                                <div class="product-image">
                                    <a href="product-detail.html">
                                        <img src="~/Uploads/@products.Image" alt="Product Image">
                                    </a>
                                    <div class="product-action">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3>@products.UnitPrice<span>₺</span></h3>
                                    <a class="btn" href="/ECommercial/Products/ProductDetails/@products.ProductId"><i class="fa fa-shopping-cart"></i>İncele</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product Detail End -->
