@using ECommercial.Entities.Concrete
@model Contact
@{
    ViewBag.Title = "Reply";
    Layout = "~/Areas/AdministratorArea/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>



<div class="col-md-12">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Yeni Mesaj</h3>
        </div>


        <!-- /.card-header -->
        @using (Html.BeginForm("SendMail", "Messages", FormMethod.Post))
        {

            @Html.HiddenFor(x => x.ContactId)
            @Html.HiddenFor(x => x.UserName)
            <div class="card-body">
                <div class="form-group">
                    @Html.Label("Gönderilecek Kişi")
                    @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control", @placeholder = "To:" })
                </div>
                <div class="form-group">
                    @Html.Label("Başlık")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Başlık" })
                </div>
                <div class="form-group">
                    <div>
                        <p>
                            @Html.Label("Cevap Yaz")
                            @Html.TextBoxFor(x => x.Content, new { @class="form-control", @placeholder = "Cevap Yaz"})
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div class="float-right">
                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                </div>
            </div>
        }
    </div>
    <!-- /.card -->
</div>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>