@using ECommercial.Entities.Concrete
@model Product
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Areas/AdministratorArea/Views/Shared/_AdminLayout.cshtml";
}


<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Ürün Ekle</h3>
    </div>
    <div class="card-body shadow">
        <form method="post">


            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-bookmark"></i></span>
                    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categoryListItems, new { @class = "custom-select rounded-0" })
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-book-open"></i></span>
                </div>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Ürün Adı", @type = "text" })
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-box-open"></i></span>
                </div>
                @Html.TextBoxFor(x => x.UnitsInStock, new { @class = "form-control", @placeholder = "Stok Miktarı" })
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><strong>₺</strong></span>
                </div>
                @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control", @placeholder = "Fiyat", @type = "text" })
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>



            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-percent"></i></span>
                </div>
                @Html.TextBoxFor(x => x.PercentOfDiscount, new { @class = "form-control", @placeholder = "İndirim" })
            </div>
            <button type="submit" class="btn btn-block btn-outline-info">Kaydet</button>

        </form>
    </div>
    <!-- /.card-body -->
</div>


