@using ECommercial.Entities.Concrete
@model Tuple<UserAddress, User>
@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Areas/ECommercial/Views/Shared/_ECommercialLayout.cshtml";
}



<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab" aria-selected="true"><i class="fa fa-shopping-bag"></i>Orders</a>
                    <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab" aria-selected="false"><i class="fa fa-map-marker-alt"></i>Adresler</a>
                    <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab" aria-selected="false"><i class="fa fa-user"></i>Hesap Bilgiler</a>
                    <a class="nav-link" href="/ECommercial/Auth/LogOut"><i class="fa fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">

                    <div class="tab-pane fade active show" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Product</th>
                                        <th>Date</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Product Name</td>
                                        <td>01 Jan 2020</td>
                                        <td>$99</td>
                                        <td>Approved</td>
                                        <td><button class="btn">View</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Product Name</td>
                                        <td>01 Jan 2020</td>
                                        <td>$99</td>
                                        <td>Approved</td>
                                        <td><button class="btn">View</button></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Product Name</td>
                                        <td>01 Jan 2020</td>
                                        <td>$99</td>
                                        <td>Approved</td>
                                        <td><button class="btn">View</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                        @if (Model.Item1 != null)
                        {
                            <h4>@Model.Item1.AddressName</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>@Model.Item1.City / @Model.Item1.Country</h5>
                                    <p>@Model.Item1.Address</p>
                                    <p>Telefon: @Model.Item1.Phone</p>
                                    <a class="btn" href="/ECommercial/Users/UpdateAddress/@Model.Item1.Id">Adresi Güncelle</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a class="btn" href="/ECommercial/Users/AddAddress">Adres Ekle</a>
                        }
                    </div>
                    <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">

                        <div id="reviews" class="container tab-pane fade active show">
                            <div class="reviews-submitted">
                                <div class="reviewer p-sm-3"><h2>@Model.Item2.FirstName @Model.Item2.LastName</h2><span><strong>@Model.Item2.Email</strong> - <strong>@Model.Item2.Phone</strong></span></div>
                            </div>
                        </div>



                        <h4>Hesap Bilgileri</h4>
                        @using (Html.BeginForm("UpdateUserInfo", "Users", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.Item2.FirstName, new { @class = "form-control", @type = "text", @placeholder = "İsim" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.Item2.LastName, new { @class = "form-control", @type = "text", @placeholder = "Soyisim" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.Item2.Phone, new { @class = "form-control", @type = "text", @placeholder = "Tel" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.Item2.Email, new { @class = "form-control", @type = "email", @placeholder = "Email" })
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Hesap Bilgilerini Güncelle</button>
                                    <br><br>
                                </div>
                            </div>
                        }

                        @*<h4>Password change</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control" type="password" placeholder="Current Password">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="New Password">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Confirm Password">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Save Changes</button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>