@using ECommercial.Entities.Concrete
@using ECommercial.Entities.Dtos
@model Tuple<List<Category>, List<ProductWithImageDto>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ECommercial/Views/Shared/_ECommercialLayout.cshtml";
}



<!-- Main Slider Start -->
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-widget brands">
                    <h2 class="title">Kategoriler</h2>
                    <ul>
                        @foreach (var category in Model.Item1)
                        {
                            <li><a href="/ECommercial/Products/GetProductsWithCategoryId/@category.CategoryId">@category.CategoryName </a><span>(45)</span></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-slider normal-slider">
                    @foreach (var product in Model.Item2.OrderByDescending(x => x.ProductId).Take(3))
                    {
                        <div class="header-slider-item">
                            <img src="~/Uploads/@product.Image" alt="Slider Image" style="width: 600px; height:400px;" />
                            <div class="header-slider-caption">
                                <p>@product.Name</p>
                                <a class="btn" href="/ECommercial/Products/ProductDetails/@product.ProductId"><i class="fa fa-shopping-cart"></i>Ürün Detayı</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-3">
                <div class="header-img">
                    @foreach (var category in Model.Item1.OrderByDescending(x => x.CategoryId).Take(2))
                    {
                        <div class="img-item">
                            <img src="~/Uploads/@category.CategoryImage" />
                            <a class="img-text" href="/ECommercial/Products/GetProductsWithCategoryId/@category.CategoryId">
                                <p>@category.CategoryName Kategorisine Göz At</p>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start-->
<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>Güvenli Ödeme</h2>
                    <p>Lorem ipsum dolor sit amet consectetur elit</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Dünya Çapında Kargo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur elit</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>90 Günlük İade Süresi</h2>
                    <p>Lorem ipsum dolor sit amet consectetur elit</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>7/24 Destek</h2>
                    <p>Lorem ipsum dolor sit amet consectetur elit</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End-->
<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="~/ECommerce FrontEnd Template/ecommerce-html-template/img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="~/ECommerce FrontEnd Template/ecommerce-html-template/img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="~/ECommerce FrontEnd Template/ecommerce-html-template/img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="~/ECommerce FrontEnd Template/ecommerce-html-template/img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="~/ECommerce FrontEnd Template/ecommerce-html-template/img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="~/ECommerce FrontEnd Template/ecommerce-html-template/img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->
<!-- Call to Action Start -->
<div class="call-to-action">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Günün Her Saati Bize Ulaşın</h1>
            </div>
            <div class="col-md-6">
                <a href="tel:0123456789">+012-345-6789</a>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->
<!-- Featured Product Start -->
<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Son Eklenen Ürünler</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            @foreach (var product in Model.Item2)
            {
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@product.Name</a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <img src="~/Uploads/@product.Image" alt="Product Image">
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="/ECommercial/Products/ProductDetails/@product.ProductId"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>@product.UnitPrice<span>₺</span></h3>
                            <a class="btn" href="/ECommercial/Products/ProductDetails/@product.ProductId"><i class="fa fa-search"></i>İncele</a>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!-- Featured Product End -->