@using ECommercial.Entities.Concrete
@model Tuple<UserAddress, User>
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Areas/AdministratorArea/Views/Shared/_AdminLayout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="~/Uploads/no-image-icon-4.png" alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">@Model.Item2.FirstName @Model.Item2.LastName</h3>

                        <p class="text-muted text-center">@Model.Item2.Phone</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Satın Alınan Ürün</b> <a class="float-right">1,322</a>
                            </li>
                            <li class="list-group-item">
                                <b>Yapılan Yorumlar</b> <a class="float-right">543</a>
                            </li>
                            <li class="list-group-item">
                                <b>Gönderilen Mesajlar</b> <a class="float-right">13,287</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block"><b>Alışveriş Geçmişi</b></a>
                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->

            </div>
            <!-- About Me Box -->
            <div class="card card-primary col-sm-9">
                <div class="card-header">
                    <h3 class="card-title">Kulanıcı Bilgileri</h3>
                </div>
                @if (Model.Item1 != null)
                {
                    <div class="card-body">

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Adres</strong>
                        <h3>@Model.Item1.AddressName</h3>
                        <p class="text-muted">@Model.Item1.Address</p>
                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i>Email</strong>
                        <p class="text-muted">@Model.Item2.Email</p>
                        <hr>

                        <strong><i class="far fa-file-alt "></i> Kulanıcı Notu</strong>

                        <p class="text-muted">Not Ekle</p>
                    </div>
                }
                else
                {
                    <h3 class="p-md-3 m-md-3"> Kullanıcı Adres Bilgilerini Daha Oluşturmamış..</h3>
                }
                <!-- /.card-header -->
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

